{
    "tabnine.experimentalAutoImports": true,
    "editor.fontSize": 14,
    "leetcode.endpoint": "leetcode-cn",
    "leetcode.defaultLanguage": "javascript",
    "leetcode.workspaceFolder": "/Users/zhaochen_dedao/repo/leetcode/javascript",
    "code-runner.executorMapByGlob": {

        "pom.xml": "cd $dir && mvn clean package"
    },
    "js/ts.implicitProjectConfig.strictFunctionTypes": false,
    "files.associations": {
        "*.js": "javascript",
        "*.ts": "typescript"
    },
    "markdownlint.config": {
        
    
    },
    "editor.codeActionsOnSave": {
        "source.fixAll.markdownlint": true
    }
}